body {
  padding: 1rem 0;
}
main {
  text-align: center;
}

#path {
  margin: 1rem 0;
}

#upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  height: 200px;
  width: 800px;
  margin: 1rem 0;
}
